body {
  background-image: url("logo.png"), url("concert-rap.jpg");
  background-size: 200px 100px, cover;
  background-attachment: fixed, fixed;
  background-repeat: no-repeat, no-repeat;
  background-position: top left, ;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: xx-large;
}

h2 {
  font-family: Courier New;
}
