body
{
    background-image: url("logo.PNG"), url("concert-rap-fond.jpg");
    background-size: 200px 100px ,cover;
    background-attachment: fixed, fixed; 
    background-repeat: no-repeat, no-repeat;
    background-position: top left, ;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 h1 {
  font-size: xx-large;

}

 h2 {
  font-family: Courier New;
  }

  .lien-concerts
  {
  	text-align: right;
  	color: white;
  	position: absolute;
    right: 1%;
    bottom: 95%;
  }

  

.lien-concerts:visited 
{
    color: white;
}

.lien-concerts:active
{
    color: white;
}



